{% extends 'stories/base.html' %}
{% block main %}

        <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="panel panel-default" style="margin-top:80px;">
                <div class="panel-body">
                    <h1 class="panel-title pull-right" style="font-size:30px;"> إضافة قصة جديدة</h1>
                </div>
            </div>

            <hr>
            <form class="form-horizontal" method="post" action="" role="form"  enctype="multipart/form-data" >
                <div class="panel panel-default">
                     {% csrf_token %}
                     {% include 'stories/form_template.html' %}
                            <br>
                            <br>
                    <div class="panel-body">
                        <h3 class="panel-title pull-left"></h3>
                            <input type="submit" class="btn btn-default">
                            <br>
                            <br>
                    </div>
                </div>


        </form>
        </div>

  {% endblock%}