<!DOCTYPE html>

<html lang="en">
    <head>
        {% load staticfiles %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cesur Ve Guzel</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stories/test.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cairo|Changa" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #menu1{
    background-color:transparent;
    border:transparent;
    padding-top:20px;

    }

#image{
margin-top:0px;
}
#tags{
opacity :0.5;
}
.form-header{
    max-width: 450px;

    background-color:#333 !important;
    color: #fff;
    width: 100% ;
    padding: 20px 0px;

}


</style>
    </head>

<body>

<div class="navbar-wrapper ">

                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header" style="padding-left:45%;">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand  navbar-right" href="{% url 'stories:home' %}" style="margin-right:-8px; margin-top:-5px;">

                            </a>
                            <a class="navbar-brand" href="{% url 'stories:home' %}">  جسور و الجميلة*</a>

                        </div>

                            </ul>
                        </div>
                    </div>
                </div>


{% block main %}
{%endblock %}



        </div>
{%

<!--
    <footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Cesur Ve Guzel</a>, All rights reserved 2016-2017.</p>
    </footer>

-->
 <script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
         });




var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>

<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> BootSnipp And TomGeek76</a>, All rights reserved 2016-2017.</p>
    </footer>
</body>
</html>
