<!DOCTYPE html>

<html lang="en">
    <head>
        {% load staticfiles %}
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>blog</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'stories/test.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lalezar|Rakkas|Amiri" rel="stylesheet">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">

<style>
    #menu1{
    background-color:transparent;
    border:transparent;
    padding-top:20px;

    }

#image{
margin-top:0px;
}

</style>
    </head>

<body>
<div class="navbar-wrapper ">

                <div class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header navbar-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand  navbar-right" href="{% url 'stories:home' %}" style="margin-right:-8px; margin-top:-5px;">

                            </a>
                            <a class="navbar-brand navbar-right" href="{% url 'stories:home' %}">{{user.username}}*</a>

                        </div>
                        <div class="navbar-collapse collapse">
                             <ul class="nav navbar-nav">

                                 {% if user.username %}
                                 <li>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp; {{user.username}}
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                      <li ><a role="menuitem" tabindex="-1" href="{% url 'stories:profile' %}">Profile</a></li>
                                        <li  class="divider"></li>
                                      <li ><a role="menuitem" tabindex="-1" href="{% url 'stories:logout_user' %}">Logout</a></li>

                                    </ul>


                                 </div>
                                     </li>
                             </ul>

                             <ul class="nav navbar-nav" >

                                 {% else %}
                                  <li class="logout"><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;التسجيل</a></li>
                                 <li class="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span>&nbsp;الدخول</a></li>
                                 {% endif %}
                                     <form class="navbar-form navbar-nav">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="glyphicon glyphicon-search"></i>
      </button>
    </div>
  </div>
</form>


                            </ul>
                             <ul class="nav navbar-nav navbar-right" style="padding-right:6cm;">
                                 <li><a href="#">القصص</a></li>
                                <li><a href="{% url 'stories:new_story' %}">الحلقات</a></li>
                             </ul>

                    </div>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>
{% block main %}
{%endblock %}


<!--
    <footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Cesur Ve Guzel</a>, All rights reserved 2016-2017.</p>
    </footer>

-->
 <script>
         $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
         });




var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  }
}
</script>

<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> BootSnipp And TomGeek76</a>, All rights reserved 2016-2017.</p>
    </footer>
</body>
</html>