{% extends 'stories/core.html' %}

{% block main %}
{% load staticfiles%}




    <section id="blog-section" >

     <div class="container-fluid">

       <div class="row" >
<!-- TAKEN -->
<div class="container" style="padding-top:10px;">
    <hr>
    {% if stories %}

    <h1>أحدث القصص</h1>
    <hr>
     {% for story in stories %}
  <div class="well" style="margin-bottom:50px;">
      <div class="media">
      	<a class="pull-left" href="#">
    		<img class="media-object img-responsive" src="{{story.story_cover.url}}" width="200" height="100%">
  		</a>


  		<div class="media-body">

            <h3 class="media-heading pull-right" align="right"><a href="{% url 'stories:post' story.id 1 %}">{{story.title}} </a></h3>

<br>

            <br><hr>
          <p align="right">{{story.summary}}</p>
            <br>
            <div class="media-footer" align="right">
          <ul  class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-calendar"></i> {{story.pub_date}}</span></li>
            <li>|</li>
              <span><i class="glyphicon glyphicon-comment"></i> <a href="{% url 'stories:comments' story.id %}">{{story.comment_set.all.count}}</a></span>

			</ul>
                </div>
       </div>
    </div>
  </div>
    {% endfor%}
    {% else %}
    <h1>لم يتم نشر أي قصص بعد</h1>
    {% endif %}

</div>
<!-- END TAKEN-->



<!--
           <div class="col-lg-2">







             </div>
         <div class="col-lg-8">
           <div class="row">


               {% for story in stories %}

               <div class="col-lg-12 col-md-12">

             <aside>
                <div class="content-title">
				<div class="text-center">
				<h3><a href="{% url 'stories:post' story.id 1%}">{{story.title}}</a></h3>
				</div>
				</div>

                 <div class="content-summary">
				 <hr>
                     <div class="text-left">

				<p align="right">{{story.summary}}</p>
				</div>
                     <hr>
                     <div class="text-right " id="tags">
                         {{story.tags}}
                     </div>
				</div>

				<div class="content-footer">
				<span style="font-size: 16px;color: #fff;">{{story.author}}</span>
				<span class="pull-right">
				<a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> {{story.comment_set.all.count}}</a>

				</span>

				</div>
             </aside>
            </div>
               {% endfor%}
           </div>
          </div>

<!--           // RECENT POST===========-->

           </div>
         </div>

    </section>




<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>





{% endblock %}