{% extends 'stories/base.html' %}
{% block main %}
        <div style="padding-top:50px;"> </div>
  <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
            {% if stories %}
            {% for s in stories %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="{{s.story_cover.url}}" style="margin-right:8px; margin-top:-5px;" width="50px" height="50px">
                        </a>
                    </div>
                    <h4 align="right"><a href="{% url 'stories:post' s.id 1 %}"  style="text-decoration:none;" ><strong>{{s.title}}</strong></a> – <small><small><span style="text-decoration:none; color:grey;">{{s.chapter_set.all.count}} Chpaters</span></small></small></h4>
                    <span>

                    </span>
                    <hr>
                    <div class="post-content">

                        <p>{{s.summary}}</p>
                    </div>
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <a class="btn btn-success btn-xs" href="{% url 'stories:edit_story' s.id%}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> تصحيح</a>
                            <a class="btn btn-danger btn-xs" href="{% url 'stories:delete_story' s.id %}"><i class="fa fa-trash" aria-hidden="true"></i> حذف</a>
                        </div>
                        <div class="pull-left">
                             <a class="btn btn-default btn-xs" href="{%url 'stories:add_chapter' s.id %}"><i class="fa fa-plus" aria-hidden="true"></i> إضافة فصل</a>

                        </div>
                        <br>
                    </div>


                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="pull-right">
            <h1>لم تنشر أي قصص بعد.</h1>

            <a href="{% url 'stories:new_story' %}">يمكنك إضافة قصة إذا أردت </a>
                </div>
            {% endif %}
        </div>
{% endblock %}
