{% extends 'stories/base.html' %}
{% block main %}
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>Bio</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            {% if stories %}
            {% for s in stories %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object img-circle" src="{{s.story_cover.url}}" style="margin-right:8px; margin-top:-5px;" width="50px" height="50px">
                        </a>
                    </div>
                    <h4 align="right"><a href="{% url 'stories:post' s.id 1 %}"  style="text-decoration:none;" ><strong>{{s.title}}</strong></a> – <small><small><span style="text-decoration:none; color:grey;">{{s.chapter_set.all.count}} Chpaters</span></small></small></h4>
                    <span>

                    </span>
                    <hr>
                    <div class="post-content">

                        <p>{{s.summary}}</p>
                    </div>
                    <hr>
                    <div>
                        <div class="pull-right btn-group-xs">
                            <a class="btn btn-success btn-xs" href="{% url 'stories:edit_story' s.id%}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                            <a class="btn btn-danger btn-xs" href="{% url 'stories:delete_story' s.id %}"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
                        </div>
                        <div class="pull-left">
                             <a class="btn btn-default btn-xs" href="{%url 'stories:add_chapter' s.id %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Chapter</a>

                        </div>
                        <br>
                    </div>


                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1>Add new stories</h1>
            {% endif %}
        </div>
{% endblock %}
